[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
taichi = "*"
pillow = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
